<h3>Introduction to Classification</h3>

In [15]:
import pickle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score,confusion_matrix,classification_report

import pandas as pd

In [51]:
teamlogs = pd.read_csv("Data/AllLogs.csv")

In [55]:
teamlogs.head(10)

,IsHome,Result,TeamRest,2PPctAllowed,3PPctAllowed,PTSAllowed,ORBAllowed,DRBAllowed,TRBAllowed,STLAllowed,...,ORB_Opp,DRB_Opp,TRB_Opp,STL_Opp,BLK_Opp,TOV_Opp,PF_Opp,Poss_Opp,DefRating_Opp,OffRating_Opp
0,0,0,2.0,0.475977,0.370288,96.210526,12.052632,31.368421,43.421053,7.578947,...,12.368421,31.552632,43.921053,8.473684,5.921053,15.815789,21.236842,87.335526,99.200330,108.564972
1,0,1,2.0,0.482014,0.277228,94.000000,12.333333,33.000000,45.333333,6.333333,...,9.750000,35.250000,45.000000,8.250000,3.500000,13.750000,21.250000,91.793750,124.895286,115.476272
2,1,1,2.0,0.500000,0.430894,117.800000,10.000000,36.400000,46.400000,9.600000,...,7.000000,33.000000,40.000000,9.000000,6.800000,18.600000,20.400000,74.485000,112.794711,126.468417
3,1,1,2.0,0.488707,0.363095,98.215686,11.274510,29.686275,40.960784,7.568627,...,9.980000,29.840000,39.820000,6.720000,4.000000,13.680000,19.780000,89.343500,116.809810,105.211907
4,0,0,2.0,0.494673,0.392713,105.545455,13.363636,33.727273,47.090909,8.909091,...,11.400000,33.000000,44.400000,6.500000,5.200000,14.700000,18.800000,87.527500,109.910728,111.850561
5,1,1,2.0,0.474964,0.357466,97.039474,12.223684,31.921053,44.144737,7.552632,...,11.067568,30.594595,41.662162,7.310811,4.581081,13.945946,20.527027,88.142230,103.649700,109.942085
6,1,1,2.0,0.472641,0.346835,94.515152,11.000000,30.424242,41.424242,6.909091,...,13.171429,30.657143,43.828571,8.000000,5.171429,15.771429,22.400000,91.460714,102.915850,106.587528
7,0,1,2.0,0.495556,0.382775,107.461539,11.538462,31.846154,43.384615,7.230769,...,13.833333,29.083333,42.916667,9.750000,4.666667,15.416667,24.750000,95.958333,113.292710,107.164568
8,0,1,2.0,0.481028,0.381590,97.520000,10.293333,27.053333,37.346667,7.920000,...,12.466667,27.720000,40.186667,6.773333,3.733333,13.946667,23.080000,88.970667,110.254195,99.643328
9,0,0,2.0,0.511775,0.386986,106.058824,12.058824,31.117647,43.176471,6.941176,...,12.611111,29.500000,42.111111,7.277778,3.388889,14.555556,23.000000,93.186111,116.162413,108.087161

In [53]:
teamlogs.dropna(inplace=True)

exclude = ["Result"]
features = [x for x in teamlogs.columns if x not in exclude] #List Comprehension

X_train, X_test, y_train, y_test = train_test_split(teamlogs[features], teamlogs[exclude], test_size=0.80, random_state=42)

model = LogisticRegression()

model.fit(X_train,y_train)

y_pred = model.predict(X_test)

Accuracy_Score = accuracy_score(y_test,y_pred)
F1_Score = f1_score(y_test,y_pred)
print(Accuracy_Score)
print(F1_Score)

C:\Users\FRANC583\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\FRANC583\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7036972190609588
0.7052026477761003

In [16]:
y_true = y_test
y_pred = y_pred
print(confusion_matrix(y_true, y_pred))
print(classification_report(y_true, y_pred))

[[11970  5112]
 [ 5042 12145]]
              precision    recall  f1-score   support

           0       0.70      0.70      0.70     17082
           1       0.70      0.71      0.71     17187

   micro avg       0.70      0.70      0.70     34269
   macro avg       0.70      0.70      0.70     34269
weighted avg       0.70      0.70      0.70     34269

In [45]:
nba_data = pd.read_csv("Data/TestGames.csv")
nba_data.head(10)

,Team,IsHome,Opponent,Result,IsOT,TeamScore,OpponentScore,ResultDifferential,Year,Month,...,ORB_Opp,DRB_Opp,TRB_Opp,STL_Opp,BLK_Opp,TOV_Opp,PF_Opp,Poss_Opp,DefRating_Opp,OffRating_Opp
0,ORL,1,HOU,0,0,94,96,-2,2008,1,...,12.575758,31.848485,44.424242,7.666667,5.393939,14.393939,20.515152,90.981818,105.897495,104.249933
1,PHI,0,LAC,0,0,83,89,-6,2005,1,...,11.034483,29.241379,40.275862,7.620690,5.206897,15.896552,23.000000,84.037069,102.521904,112.717089
2,MIL,1,IND,1,0,92,80,12,2000,12,...,11.750000,31.375000,43.125000,7.812500,5.125000,15.812500,24.250000,86.448437,104.721210,106.711009
3,SEA,0,UTA,0,0,80,95,-15,2002,1,...,13.342105,29.315789,42.657895,8.736842,6.684211,16.421053,23.263158,88.454605,109.757212,109.036006
4,HOU,0,CHO,1,0,109,93,16,2017,10,...,9.200000,40.000000,49.200000,4.600000,4.400000,15.000000,16.800000,89.555000,104.347826,110.769918
5,BRK,0,SAS,0,0,75,102,-27,2015,10,...,9.500000,36.500000,46.000000,9.000000,6.500000,15.500000,17.000000,89.675000,117.186276,115.974352
6,LAL,1,NOP,0,0,112,119,-7,2017,10,...,12.666667,35.333333,48.000000,8.666667,7.000000,17.333333,23.333333,93.400000,116.945107,117.773019
7,PHI,1,CHA,0,0,93,123,-30,2014,4,...,9.413333,32.880000,42.293333,6.053333,5.146667,11.626667,18.213333,91.278333,108.836243,106.063871
8,IND,1,CLE,0,0,99,111,-12,2002,4,...,11.792208,30.207792,42.000000,6.909091,5.766234,13.636364,21.181818,89.578571,106.983193,105.878174
9,DEN,1,UTA,0,0,84,100,-16,2016,4,...,10.825000,32.537500,43.362500,7.700000,5.262500,14.237500,20.287500,87.996250,110.766117,111.112690

In [48]:
nba_data.dropna(inplace=True)

exclude = ["Team","GameDate","Opponent","Result","IsOT","TeamScore","OpponentScore","ResultDifferential","Year","Month","Season"]

labels = nba_data["Result"]
features = [x for x in nba_data.columns if x not in exclude]

game_pred = model.predict(nba_data[features])
game_pred_proba = model.predict_proba(nba_data[features])

nba_data["PredictedResult"] = game_pred
nba_data["PredictedResultProba_Loss"] = game_pred_proba[:,0]
nba_data["PredictedResultProba_Win"] = game_pred_proba[:,1]

In [49]:
nba_data.head(10)

,Team,IsHome,Opponent,Result,IsOT,TeamScore,OpponentScore,ResultDifferential,Year,Month,...,STL_Opp,BLK_Opp,TOV_Opp,PF_Opp,Poss_Opp,DefRating_Opp,OffRating_Opp,PredictedResult,PredictedResultProba_Loss,PredictedResultProba_Win
0,ORL,1,HOU,0,0,94,96,-2,2008,1,...,7.666667,5.393939,14.393939,20.515152,90.981818,105.897495,104.249933,1,0.287444,0.712556
1,PHI,0,LAC,0,0,83,89,-6,2005,1,...,7.620690,5.206897,15.896552,23.000000,84.037069,102.521904,112.717089,0,0.672180,0.327820
2,MIL,1,IND,1,0,92,80,12,2000,12,...,7.812500,5.125000,15.812500,24.250000,86.448437,104.721210,106.711009,1,0.409335,0.590665
3,SEA,0,UTA,0,0,80,95,-15,2002,1,...,8.736842,6.684211,16.421053,23.263158,88.454605,109.757212,109.036006,0,0.667499,0.332501
4,HOU,0,CHO,1,0,109,93,16,2017,10,...,4.600000,4.400000,15.000000,16.800000,89.555000,104.347826,110.769918,1,0.433728,0.566272
5,BRK,0,SAS,0,0,75,102,-27,2015,10,...,9.000000,6.500000,15.500000,17.000000,89.675000,117.186276,115.974352,0,0.996863,0.003137
6,LAL,1,NOP,0,0,112,119,-7,2017,10,...,8.666667,7.000000,17.333333,23.333333,93.400000,116.945107,117.773019,0,0.634647,0.365353
7,PHI,1,CHA,0,0,93,123,-30,2014,4,...,6.053333,5.146667,11.626667,18.213333,91.278333,108.836243,106.063871,0,0.766756,0.233244
8,IND,1,CLE,0,0,99,111,-12,2002,4,...,6.909091,5.766234,13.636364,21.181818,89.578571,106.983193,105.878174,1,0.318786,0.681214
9,DEN,1,UTA,0,0,84,100,-16,2016,4,...,7.700000,5.262500,14.237500,20.287500,87.996250,110.766117,111.112690,0,0.582935,0.417065

In [50]:
y_true = y_test
y_pred = y_pred
print(confusion_matrix(labels, game_pred))
print(classification_report(labels, game_pred))

[[157  71]
 [ 62 170]]
              precision    recall  f1-score   support

           0       0.72      0.69      0.70       228
           1       0.71      0.73      0.72       232

   micro avg       0.71      0.71      0.71       460
   macro avg       0.71      0.71      0.71       460
weighted avg       0.71      0.71      0.71       460